/* Background for main image */
.backgroundImage{ 
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
/* image for darkmode */
.darkModeImage{
    background-image: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

/* Dark Mode Text just for desktop NOT inside modals */
.darkModeIconText{
    color: white;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* All Icon images including Desktop and modal */
.Icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 70px;
    width: 70px;
}

/* Layout for Icons in Projects Modal */
.modalIconLayout{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-self: space-between;
    margin: 10px;
    height: 70px;
    width: 70px;
}
/* Layout For Icons on Desktop */
.iconLayout{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

/* Class is used for Icons in Desktop/Settings/socials */
.seperateContainers{
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

/* this is used for standard text on desktop */
.iconText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    font-weight: 300;
}

/* Lightmode version of footer */
.footerContainer{
    position: fixed;
    bottom: 0;
    margin:0px;
    background-color: #2861DB;
    color: aliceblue;
    height: 40px;
    width: 100%;
}
/* Darkmode version of footer */
.darkModeFooterContainer{
    position: fixed;
    bottom: 0;
    margin:0px;
    background-color: #464646; 
    color: black;
    height: 40px;
    width: 100%;
}

.startButtonStyling{
    color: white;
    border: none;
}

/* Lightmode version of start button */
.startButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3F9B47;
    height: 100%;
    width: 130px;
    font-size: 25px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 8px;
}
/* darkmode version of start button */
.darkModeStartButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC5F1C;
    color: white;
    height: 100%;
    width: 130px;
    font-size: 25px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 8px;
}